#root {
  width: 100%;
  height: 100%;
  margin: 0 0;
  padding: 1rem;
  margin: 0;
  padding: 0;
  justify-content: center;
  display: flex;
  align-items: center;
}

.play {
  padding: 1em;
  will-change: filter;
  transition: filter 300ms;
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden; 
}


.spotify {
  padding: 1em;
  will-change: filter;
  transition: filter 300ms;
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden; 
  color:rgb(12, 197, 37);
  margin-top:40vh;
}



.spotify:hover {
  filter: drop-shadow(0 0 2em #22a04caa);
}
.spotify:focus {
  outline: none; 
}
.spotify.react:hover {
  filter: drop-shadow(0 0 2em #22a04caa);
}


.logout:hover {
  filter: drop-shadow(0 0 2em #ddd);
}
.logout:focus {
  outline: none; 
}
.logout.react:hover {
  filter: drop-shadow(0 0 2em #ddd);
}


.play:hover {
  filter: drop-shadow(0 0 2em #22a04caa);
}
.play:focus {
  outline: none; 
}
.play.react:hover {
  filter: drop-shadow(0 0 2em #22a04caa);
}

