.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0px;
}

.submit-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5px;
    color: white;
    background-color: Transparent;
    border: none;
    cursor:pointer;
}

.input{
    width: 70vh;
    height: 4vh;
    border-radius: 5px;
    border: 2px solid white;
    text-shadow: none !important;   
    padding: 8px;
    padding-bottom: 10px;
    background-color: black;
}

.submit-button:hover {
    filter: drop-shadow(0 0 2em #cccacaee);
    color: #cccacaee;
}
.submit-button:focus {
    outline: none; 
}
.submit-button.react:hover {
    filter: drop-shadow(0 0 2em #cccacaee);
}

.suggestions {
    border: 1px solid #ccc;
    max-height: 200px; /* Adjust the height as needed */
    overflow-y: auto;
    margin-right: 40px;
    padding: 0;
    list-style: none;
    position: absolute;
    background-color: rgb(66, 64, 64);
    z-index: 1000;
    width: 70vh;
  }
  
  .suggestions li {
    padding: 10px;
    cursor: pointer;
  }
  
  .suggestions li:hover {
    background-color: #6b6b6b;
  }