.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .modal-content {
    background: rgb(163, 162, 162);
    padding: 1vw; /* Adjusted padding */
    padding-bottom: 5vh;
    border-radius: 1vw; /* Adjusted border radius */
    width: 60%; /* Adjusted width */
    max-width: 460px;
    text-align: center;
    max-height: 80vh; /* Adjusted max height */
    overflow-y: auto; /* Added overflow-y for scrolling content */
  }
  
  .modal-content img {
    width: 100%;
    height: auto;
  }
  
  .display-text {
    color: white;
    font-family: inherit;
  }
  
  .modal-correct {
    background-color: #40b86a;
  }
  
  .modal-incorrect {
    background-color: #be3535;
  }
  
  .close-button {
    position: absolute;
    top: 2vw; /* Adjusted top position */
    right: 2vw; /* Adjusted right position */
    background: none;
    border: none;
    font-size: 2vw; /* Adjusted font size */
    color: rgb(255, 255, 255);
    cursor: pointer;
  }
  
  .close-button:hover {
    color: darkgray;
  }